@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header class="d-flex flex-wrap justify-content-between align-items-center g-3">
        <a class="btn btn-danger" href="/Student/GetAll">GetAll</a>
        <a class="btn btn-danger" href="/Student/Create">Create</a>
        <a class="btn btn-danger" href="/Student/Update">Update</a>
        <a class="btn btn-danger" href="/Student/Delete">Delete</a>

    </header>
    <main>
        <p> I am Delete</p>
    </main>
    <footer>
        <p class="bg-primary text-center"> Footer </p>
    </footer>
</body>
</html>
